div {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    border-radius: 100%;
    display: inline-block;
}

img {
    width: 200px;
    box-sizing: border-box;
    border: 10px chartreuse solid;
    padding: 30px;
    margin: 40px;
}

.onenoodle {
    border: 10px chartreuse double;
}

.twonoodle{
    border: 10px chartreuse dashed;

}

.threenoodle {
    border: 10px chartreuse ridge;

}

.fournoodle {
    border: 10px chartreuse dot-dot-dash;

}