.item {
    color: chartreuse;
    background-color: tomato;
}

.shark {
    color: darkblue;
    background-color: black;
}

.gatorade {
    color: darkorange;
    background-color: aqua;
}

.bull {
    color: brown;
    background-color: cadetblue;
}